html {
	height: 100%;
    background-image: url("https://www.goombastomp.com/wp-content/uploads/2016/02/Yellow-Pokemon-Wallpaper.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	background-position: center;
	text-align: center;
}

body {

}
img {
	 width:30%;
}

.centered {
	margin: auto;
	width: 20%;
}

.thick-border {
	border: 3px solid black;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	border-collapse: collapse;
	height: 100%;
	width: 80%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	background-position: center;
	text-align: center;
}

.placeholder{
	border: 5px solid black;
}

#rcorners1 {
    border-radius: 15px 50px 30px;
}
#rcorners2 {
    border-radius: 15px 50px 30px 5px;
}
#rcorners3 {
    border-radius: 20px;
}
#rcorners4 {
    border-radius: 10px;
		margin-bottom: 2%;
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	position: relative;
	transition: 0.3s;
	height: 40%;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	padding-left: 2%;
	display: inline-block;
	margin: 0 auto;
	border: 4px solid black;
	color: #fff;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.GoBackButton {
	 /* Add shadows to create the "card" effect */
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	 transition: 0.3s;
	 /* width: 30%; */
	 padding-top: 1%;
	 padding-bottom: 1%;
	 padding-right: 1%;
	 padding-left: 1%;
	 margin-top: 10px;
	 margin-bottom: 10px;
	 border: 3px solid black;
	 background-color: gray;
	 color: #fff;
	 text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	 font-size: 150%;
	 display: inline-block;
}

.overallcard { /*Large Yellow card*/
	 /* Add shadows to create the "card" effect */
	 max-height: 700px;
	 overflow-y: hidden;
	 /* Add shadows to create the "card" effect */
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	 transition: 0.3s;
	 width: 80%;
	 padding-top: 2%;
	 padding-bottom: 2%;
	 margin: auto;
	 border: 4px solid black;
	 color: #fff;
		text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
		height: 100%;
		max-height: 100%;
}

.cardValue {
	 /* Add shadows to create the "card" effect */
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	 transition: 0.3s;
	 height: 30%;
	 width: 80%;
	 padding-top: 2%;
	 padding-bottom: 2%;
	 margin: auto;
	 border: 4px solid black;
	 color: black;
 	 text-shadow: none;
	 font-size: 30px;
 }

.cardMainPokemon {
	background-color: white;
	transition: 0.3s;
	height: 70%;
	width: 70%;
	margin: auto;
	padding: 2%;
	border: 4px solid black;
	margin-bottom: 5%;
}

.cardPokemon {
	 /* Add shadows to create the "card" effect */
	 background-color: white;
	 /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
	 transition: 0.3s;
	 height: 40%;
	 width: 60%;
	 margin: auto;
	 padding: 2%;
	 /*border: 4px solid black;*/
	 margin-bottom: 5%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.GoBackButton:hover {
	 background-color: yellow;
}

/* Add some padding inside the card container */
.container {
	 padding: 2px 16px;

}



.movesList{
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	height: 40%;
	width: 70%;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 52;
	border: 4px solid black;
	color: black;
	text-shadow: none;
	font-size: 30px;
}

* {
    box-sizing: border-box;
}



.scrollBox{
		overflow-y: auto;
		max-height: 700px;
		width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
		border: 2px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: center;
    width: 45%;
    height: 50%; /* Should be removed. Only for demonstration */
		display: inline-block;
		padding-left: 2%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Serch bar found here: https://codepen.io/huange/pen/rbqsD*/
