<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/singlepage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/Search.css') }}">
<head>
<title>{{ name|capitalize }}</title>
</head>
<!-- search form 6 -->
<div class="button_box2">
	<form class="form-wrapper-2 cf"  action="{{ url_for('PikaPediaHomepage') }}" method="post">
		<input name="IndexSearch" type="text" placeholder="Search here..." required>
		<button type="submit">Search</button>
	</form>
</div>
<div>
	<div>
		<button onclick="history.back(-1)" class="GoBackButton" id="rcorners3">Back to Results</button>
	</div>
</div>
<body>
<table class="centered thick-border">
	<table>
		<div class="overallcard" class="" class"centered"  style="background-color: yellow; width: 800px" id="rcorners1">
			<div class="row">
				<div class="column" style="background-color:yellow; float: left;" id="rcorners1">
					<div class="scrollBox">
					<!--  logic will check to see if under first 5 generations or not-->
					{% if idInt < 650 %}
					<!--  Images Scraped From URL: sprites.pokecheck.org/-->
						<img src="./static/images/{{name}}.jpg"  alt="{{name}}" class="cardMainPokemon" id="rcorners1" 
						onerror="this.src='./static/images/missingno.jpg'">
					{% else %}
						<img src="https://img.pokemondb.net/artwork/{{name}}.jpg"  alt="{{name}}" class="cardMainPokemon" id="rcorners1" 
						onerror="this.src='./static/images/missingno.jpg'">
					{% endif %}
						<div style="background-color: blue;" id="rcorners3" class = "card">
							<h2 style=" font: verdana; font-size: 30px">Moves</h2>
							<div>
								{% for move in moveList %}
									<p class="movesList" style="background-color: white;" id="rcorners4">
										{{ move|capitalize }}
									</p>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="column" style="background-color:yellow; float:right;" id="rcorners1">
					<div class="scrollBox">
						<h1 style="color:black; font: verdana; font-size: 60px;" >
							{{ name|capitalize }}
						</h1>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style ="font: verdana; font-size: 30px;">ID</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{id}}
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Type</h2>
							{% if type_1 != "None" %} <!--For some reason, type 2 can sometimes be the only type-->
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ type_1|capitalize }}
							</div>
							{% endif %}
							{% if type_2 != "None" %}
								<div class="cardValue" style="background-color: white;" id="rcorners4">
									{{ type_2|capitalize }}
								</div>
							{% endif %}
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Height</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ height / 10 }} m
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Weight</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ weight / 10 }} kg
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Abilities</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ ability_1|capitalize }}
							</div>
							{% if ability_2 != "None" %}
								<div class="cardValue" style="background-color: white;" id="rcorners4">
									{{ ability_2|capitalize }}
								</div>
							{% endif %}
						</div>
						{% if hidden_ability != "None" %}
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Hidden Ability</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ hidden_ability|capitalize }}
							</div>
						</div>
						{% endif %}
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">HP</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ hp }}
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Attack</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ attack }}
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Defense</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ defense }}
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Special Attack</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ sp_atk }}
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Special Defense</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ sp_def }}
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Speed</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ speed }}
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">First Evolution</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								<img src="https://img.pokemondb.net/artwork/{{first_form}}.jpg"  alt="{{first_form}}" class="cardPokemon" id="rcorners1"
								onerror="this.src='./static/images/missingno.jpg'">
							</div>
						</div>
						{% if second_forms[0] != '' %}
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Second Evolution</h2>
							{% for pokemon in second_forms %}
									<div class="cardValue" style="background-color: white;" id="rcorners4">
										<img src="https://img.pokemondb.net/artwork/{{pokemon}}.jpg"  alt="{{pokemon}}" class="cardPokemon" id="rcorners1"
										onerror="this.src='./static/images/missingno.jpg'">
									</div>
							{% endfor %}
						</div>
						{% endif %}
						{% if third_forms[0] != '' %}
							<div class="card" style="background-color: red;" id="rcorners3">
								<h2 style="font: verdana; font-size: 30px;">Third Evolution</h2>
								{% for pokemon in third_forms %}
									<div class="cardValue" style="background-color: white;" id="rcorners4">
										<img src="https://img.pokemondb.net/artwork/{{pokemon}}.jpg"  alt="{{pokemon}}" class="cardPokemon" id="rcorners1"
										onerror="this.src='./static/images/missingno.jpg'">
									</div>
								{% endfor %}
							</div>
						{% endif %}
				</div>
			</div>
			</div>
		</div>
	</table>

</table>
</body>
</html>
