<!doctype html>

<title>PikaPedia</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/pikapediahomepage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/Search.css') }}">
<input type="hidden" name="query" value="{{query}}">
<div class="button_box2">
	<form class="form-wrapper-2 cf"  action="{{ url_for('PikaPediaHomepage') }}" method="post">
		<input  name="IndexSearch" type="text" placeholder="Search here..." required>
		<button type="submit">Search</button>
	</form>
</div>

<body>
<table class="centered thick-border">
	{% for num in range(0,lengthList,3): %}
		<tr>
			{% for num2 in range(3): %}
				{% if(num+num2 >= lengthList)%}
					{% set num2 = 4 %}
				{% else %}
					<td style="background-color: whitesmoke">
						<p>
							<h3>{{ search_results[num+num2]['name']|capitalize }}</h3>
						</p>
					</td>
				{% endif %}
			{% endfor %}
		</tr>
		<tr>
			{% for num2 in range(3): %}
				{% if(num+num2 >= lengthList)%}
					{% set num2 = 4 %}
				{% else %}
				<td style="background-color: white;">
					<div class="container">
						<img src="https://img.pokemondb.net/artwork/{{search_results[num+num2]['name']}}.jpg" alt="{{search_results[num+num2]['name']}}" 
						class="image" style="width:100%" style="height:100%" onerror="this.src='./static/images/missingno.jpg'">
						<form method="get" action="{{ url_for('SinglePokemonLoadPage') }}">
							<div class="middle" class="border: 4px solid black;" class="card">
								<div>
									<input class="middle" value="{{search_results[num+num2]['name']}}" method="get" type="submit" class="centered">
									<input type="hidden" name="pokemonInfo" value="{{search_results[num+num2]}}">
								</div>
							</div>
						</form>
					</div>
				</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
</table>
<table>
	{% for i in range(1, (total_results/15)|round(0, 'ceil')|int + 1) %}
		<tr>
			<form action="{{ url_for('PikaPediaHomepage') }}" method="get">
				<input type="hidden" name="page_num" value="{{ i }}" />
				<input type="hidden" name="query" value="{{ query }}">
				<button class="buttonResultPages" type="submit">{{ i }}</button>
			</form>
		</tr>
	{% endfor %}
</table>

<body>
