<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/singlepage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/Search.css') }}">
<head>
<title>Design search Button</title>
</head>
<!-- search form 6 -->
<div class="button_box2">
	<form class="form-wrapper-2 cf"  action="{{ url_for('PikaPediaHomepage') }}" method="post">
		<input name="IndexSearch" type="text" placeholder="Search here..." required>
		<button type="submit">Search</button>
	</form>
</div>
<div>
	<div>
		<button onclick="history.back(-1)" class="GoBackButton" id="rcorners3">Previous Results</button>
	</div>
</div>
<body>
<table class="centered thick-border">
	<table>
		<div class="card" class"centered"  style="background-color: yellow" id="rcorners1">
			<div class="row">
				<div class="column" style="background-color:yellow; float: left;" id="rcorners1">
					{% if idInt < 650 %}
					<!--  Images Scraped From URL: sprites.pokecheck.org/-->
						<img src="./static/images/{{name}}.jpg"  alt="{{name}}" class="cardMainPokemon" id="rcorners1">
					{% else %}
						<img src="https://img.pokemondb.net/artwork/{{name}}.jpg"  alt="{{name}}" class="cardMainPokemon" id="rcorners1">
					{% endif %}
					<div style="background-color: blue;" id="rcorners3" class = "card">
						<h2 style=" font: verdana; font-size: 30px">Moves</h2>
						<div>
						{% for move in moveList %}
							<p class="movesList" style="background-color: white;" id="rcorners4">
									{{move}}
							</p>
						{% endfor %}
						</div>
					</div>
				</div>
				<div class="column" style="background-color:yellow; float:right;" id="rcorners1">
						<h1 style="color:black; font: verdana; font-size: 60px;" >{{name}}</h1>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style ="font: verdana; font-size: 30px;">Id</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{id}}
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">Abilities<h2/>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ability_1}}
							</div>
							{% if ability_2 != "None" %}
								<div class="cardValue" style="background-color: white;" id="rcorners4">
									{{ability_2}}
								</div>
							{% endif %}
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							<h2 style="font: verdana; font-size: 30px;">First Evolution</h2>
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								<img src="https://img.pokemondb.net/artwork/{{first_form}}.jpg"  alt="{{first_form}}" class="cardPokemon" id="rcorners1">
							</div>
						</div>
						{% if second_forms[0] != '' %}
						<div class="card" style="background-color: red;" id="rcorners3">
							{% if pokemonEvo2Length > 3 %}
								<h2 style= "font: verdana; font-size: 30px;">Forms</h2>
							{% else %}
								<h2 style="font: verdana; font-size: 30px;">Second Evolution</h2>
							{% endif %}
							{% for pokemon in second_forms %}
									<div class="cardValue" style="background-color: white;" id="rcorners4">
										<img src="https://img.pokemondb.net/artwork/{{pokemon}}.jpg"  alt="{{pokemon}}" class="cardPokemon" id="rcorners1">
									</div>
							{% endfor %}
						</div>
						{% endif %}
						{% if third_forms[0] != '' %}
							<div class="card" style="background-color: red;" id="rcorners3">
								<h2 style="font: verdana; font-size: 30px;">Third Evolution</h2>
								{% for pokemon in third_forms %}
									<div class="cardValue" style="background-color: white;" id="rcorners4">
										<img src="https://img.pokemondb.net/artwork/{{pokemon}}.jpg"  alt="{{pokemon}}" class="cardPokemon" id="rcorners1">
									</div>
								{% endfor %}
							</div>
						{% endif %}
				</div>
			</div>
		</div>
	</table>

</table>
</body>
</html>
