<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/singlepage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/Search.css') }}">
<head>
<title>Design search Button</title>
</head>
<!-- search form 6 -->
<div class="button_box2">
	<form class="form-wrapper-2 cf"  action="{{ url_for('PikaPediaHomepage') }}" method="post">
		<input name="IndexSearch" type="text" placeholder="Search here..." required>
		<button type="submit">Search</button>
	</form>
</div>
<div>
	<div>
		<button onclick="history.back(-1)" class="GoBackButton" id="rcorners3">Previous Results</button>
	</div>
</div>
<body>
<table class="centered thick-border">
	<table>
		<div class="overallcard" class"centered"  style="background-color: yellow" id="rcorners1">
			<div class="row">
				<div class="column" style="background-color:yellow;">
					<div class="scrollBox">
					{% if idInt < 650 %}
					<!--  Images Scraped From URL: sprites.pokecheck.org/-->
						<img src="./static/images/{{name}}.jpg"  alt="Avatar" class="cardPokemon" id="rcorners1">
					{% else %}
						<img src="https://img.pokemondb.net/artwork/{{name}}.jpg"  alt="Avatar" class="cardPokemon" id="rcorners1">
					{% endif %}
					<div style="background-color: blue;" id="rcorners3" class = "card">
						Moves

						{% for move in moveList %}
							<p class="movesList" style="background-color: white;" id="rcorners4">
									{{move}}
							</p>
						{% endfor %}
						</div>
					</div>
				</div>
				<div class="column" style="background-color:yellow;">
					<div class="scrollBox">
						<h1>
								{{name}}
						</h1>
						<div class="card" style="background-color: red;" id="rcorners3">
							Id
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{id}}
							</div>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							Abilitys
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								{{ability_1}}
							</div>
							{% if ability_2 != "None" %}
								<div class="cardValue" style="background-color: white;" id="rcorners4">
									{{ability_2}}
								</div>
							{% endif %}
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							First Evolution
							<div class="cardValue" style="background-color: white;" id="rcorners4">
								<img src="https://img.pokemondb.net/artwork/{{first_form}}.jpg"  alt="Avatar" class="cardPokemon" id="rcorners1">
							</div>
						</div>
						{% if second_forms[0] != '' %}
						<div class="card" style="background-color: red;" id="rcorners3">
							{% if pokemonEvo2Length > 3 %}
								Forms
							{% else %}
								Second Evolution
							{% endif %}
							{% for pokemon in second_forms %}
									<div class="cardValue" style="background-color: white;" id="rcorners4">
										<img src="https://img.pokemondb.net/artwork/{{pokemon}}.jpg"  alt="Avatar" class="cardPokemon" id="rcorners1">
									</div>
							{% endfor %}
						</div>
						{% endif %}
						{% if third_forms[0] != '' %}
							<div class="card" style="background-color: red;" id="rcorners3">
								Third Evolution
								{% for pokemon in third_forms %}
									<div class="cardValue" style="background-color: white;" id="rcorners4">
										<img src="https://img.pokemondb.net/artwork/{{pokemon}}.jpg"  alt="Avatar" class="cardPokemon" id="rcorners1">
									</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</table>

</table>
</body>
</html>
