<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/singlepage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/Search.css') }}">
<head>
<title>Design search Button</title>
</head>
<!-- search form 6 -->
<div class="button_box2">
	<form class="form-wrapper-2 cf"  action="{{ url_for('PikaPediaHomepage') }}" method="post">
		<input  name="IndexSearch" type="text" placeholder="Search here..." required>
		<button type="submit">Search</button>
	</form>
</div>

<body>
<table class="centered thick-border">
	<table>
		<div class="card" class"centered"  style="background-color: yellow" id="rcorners1">
			<div class="row">
				<div class="column" style="background-color:yellow;" id="rcorners1">
					<img src="https://img.pokemondb.net/artwork/{{name}}.jpg"  alt="Avatar" class="cardPokemon" id="rcorners1">
					<div style="background-color: blue;" id="rcorners3" class = "card">
						Moves
						<p class="movesList" style="background-color: white;" id="rcorners4">
							{{moves}}
						</p>
					</div>
				</div>
				<div class="column" style="background-color:yellow;" id="rcorners1">
						<h1>
								{{name}}
						</h1>
						<div class="card" style="background-color: red;" id="rcorners3">
							Id
							<p class="card" style="background-color: white;" id="rcorners4">
								{{id}}
							</p>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							Ability 1
							<p class="card" style="background-color: white;" id="rcorners4">
								{{ability_1}}
							</p>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							Ability 2
							<p class="card" style="background-color: white;" id="rcorners4">
								{{ability_2}}
							</p>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							First Evolution
							<p class="card" style="background-color: white;" id="rcorners4">
								{{first_form}}
							</p>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							Second Evolution
							<p class="card" style="background-color: white;" id="rcorners4">
								{{second_forms}}
							</p>
						</div>
						<div class="card" style="background-color: red;" id="rcorners3">
							Third Evolution
							<p class="card" style="background-color: white;" id="rcorners3">
								{{third_forms}}
							</p>
						</div>
				</div>
			</div>
		</div>
	</table>

</table>
</body>
</html>
